<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nutritionix_UniversalLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Nutritionix_iOS_Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39D55FCE1944644B0010FB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D55FDE1944644B0010FB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D56156194509CE0010FB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D5615C19450AB80010FB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
